html {
  box-sizing: border-box;
  font-size: 21px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 5%;
  margin-right: 5%;
  font-family: 'EB Garamond', serif;
  margin-top: 5%;
  margin-bottom: 0;
  color: #111177;
  background-color: #FAF9F7;
  max-width: 24rem;
  line-height: 26px;
}

a:link {
  color: #111177;
}

/* visited link */
a:visited {
  color: #111177;
}

/* mouse over link */
a:hover {
  color: #000000;
}

/* selected link */
a:active {
  color: #111177;
}

p.list {
  line-height: 28px;
}

p.view {
  max-width: 24rem;
  color: #000000;
}

img,
video {
  height: auto;
  max-width: 100%;
}